body {
  min-width: 300px;
}

.container {
  position: absolute;
  left: 38%;
  top: 32%;
  text-align: center;
}

.link,
.filename {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

label {
  font-weight: bold;
  font-size: larger;
}

button {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
}
